<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<hr>
<div id ="chat"></div>
<hr>

<form id="form" onsubmit="send(); return false;">
  <input type="text" id="name">
  <input type="text" id="text">
  <input type="submit" value="send">
</form>
