<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.socket.io/stable/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
